<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div id="leftcontent">
        
        <div id="pageName">
            <a href="#">User-Auth - A starter code for authentication application</a>
        </div>
    </div>
    <div id="rightcontent">
        <div id="loginButton">
            <a href="#">Login</a>
        </div>
        <div id="signupButton">
            <a href="#">Signup</a>
        </div> 
    </div>
</footer>