<link rel="stylesheet" href="/css/header.css">


<header>
    <div id="leftcontent">
        <div id="pageLogo">
            <a href="/">
            <img src="https://www.identrust.com/sites/default/files/inline-images/secure-authentication%20%281%29_0.png"
             alt=""
             style="height: 2rem; width: 1.5rem; padding:3px">
            </a>
        </div>
        <div id="pageName">
            <a href="/">User-Auth</a>
        </div>
    </div>
    <div id="rightcontent">
        <div id="loginButton">
            <a href="/user/signin">Login</a>
        </div>
        <div id="signupButton">
            <a href="/user/signup">Signup</a>
        </div> 
    </div>
</header>
