<link rel="stylesheet" href="/css/forget-password.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="pageHeadline">
    <h3>Use Your Security Pin to Reset/Update Password</h3>
</div>

<div id="formContainer">
    <section id="formContent">
        <form action="/user/updtPasPin" method="POST">
            <input type="email" name="email" placeholder="Your Email"><br>
            <input type="password" name="pin"  placeholder="Your Security Pin" required><br>
            <input type="password" name="password"  placeholder="New password" required><br>
            <input type="submit"  value = "Update Password"><br>
            <a href="#">Try another way!</a>

            
        </form>
    </section>
    
</div>
