<h1>User Profile</h1>


<% if(locals.user) { %>
    
                <%= user.name%>
                
<%} %>

<form action="/user/uploadPic" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar"  placeholder="Profile Picture"/>
    <input type="submit" placeholder="Upload">
</form>