<link rel="stylesheet" href="/css/singup.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="pageHeadline">
    <h3>Please fill up details to move forward!</h3>
</div>

<div id="pageNotification">
    <h3>Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</h3>
</div>
<div id="pageNotification">
    <h3>Do not share your security pin which will be used to reset your password in future!</h3>
</div>

<div id="formContainer">
    <section id="formContent">
        <form action="/user/create" method="POST">
            <input type="text" name="name"  placeholder="Your name" required><br> 
            <input type="email" name="email"  placeholder="Your email" required><br>
            <input type="password" name="password"  placeholder="Enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required pattern=".{6,}"><br>
            <input type="password" name="confirmpassword"  placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required> <br>
            <input type="password" name="securityPin"  placeholder="Enter 4 digit Security Pin "  maxlength="4"  required> <br>
            <input type="text" name="confirmsecurityPin"  placeholder="Confirm Security Pin" maxlength="4"  required> <br>
            <input type="checkbox" name="checkMe" required><a>I agree to <a href="#">Terms & Conditions</a></a> <br>
            <input type="submit"  value = "Sign Up">
        </form>
    </section>


    <section id="horizontalbar">
        
    </section>


    <section id=socialbox>
        <section id="socialContent">
            <h4>Use Social Account to Login</h4>
        </section>
        <section id="socialIcons">
            <a href="" class="fa fa-facebook"></a>
            <a href="" class="fa fa-google"></a>
        </section>
    </section>
    
</div>
